body{
    margin: 0;
    padding: 0;
    min-width: 375px;
}

html, body, #root ,.home-block,.main-fragment{
    height:100%;
}
.main-block{
    display: flex;
    height: 100%;

}
a {
    text-decoration: none; /* Remove underline */
}

@media (max-width: 768px) {
    * {
        scrollbar-width: none;
    }

    ::-webkit-scrollbar {
        display: none;
        width: 0;
    }
}